<nav class="navbar">
  <div class="logo">Shubham Pal</div>

  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/skills">Skills</a></li>
    <li><a routerLink="/experience">Experience</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li class="dropdown"
    (mouseenter)="showAnalytics=true"
    (mouseleave)="showAnalytics=false">

  <a class="dropdown-toggle">
    Analytics
    <span class="arrow">▾</span>
  </a>

  <ul class="dropdown-menu" *ngIf="showAnalytics">

    <li>
      <a routerLink="/analytics" (click)="showAnalytics=false">
        📊 Public Analytics
      </a>
    </li>

    <li>
      <a routerLink="/admin-login" (click)="showAnalytics=false">
        🛡️ Admin Dashboard
      </a>
    </li>

  </ul>

</li>
  </ul>

  <div class="navbar-buttons">
    <!-- Dark Mode Toggle -->
    <div class="theme-switch">
      <input type="checkbox" id="darkModeToggle" (change)="toggleTheme()" [checked]="darkMode"/>
      <label for="darkModeToggle">
        <span class="toggle-ball"></span>
      </label>
    </div>
  </div>
</nav>