.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:#0f172a;
color:white;
}

.navbar ul{
display:flex;
list-style:none;
gap:20px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:500;
}