/* Global Theme Variables */
:root {
  --bg-primary: #0f172a;
  --bg-light: #ffffff;

  --accent1: #667eea;
  --accent2: #764ba2;
  --accent3: #3b82f6;
  --accent4: #4ade80;
  --accent5: #ffd700;

  --text-light: #ffffff;
  --text-dark: #0f172a;

  --text-muted: #6b7280;
  --text-muted-dark: #9ca3af;

  --nav-bg: var(--bg-primary);

  --card-bg: rgba(255,255,255,0.85);

  --tag-bg: #eef2ff;
  --tag-bg-dark: #374151;

  --tag-text: #3730a3;
  --tag-text-dark: #c7d2fe;

  /* Dark mode background */
  --bg-gradient-dark:
    linear-gradient(
      180deg,
      #0b132b 0%,
      #1c2541 40%,
      #0f172a 100%
    );
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;

 background:
    radial-gradient(circle at 20% 20%, #dbeafe 0%, transparent 40%),
    radial-gradient(circle at 80% 30%, #e9d5ff 0%, transparent 40%),
    linear-gradient(135deg, #f8fafc 0%, #eef2ff 100%);

  background-attachment: fixed;
  transition: background 0.4s ease;
}

/* Dark mode */
body.dark {
  background: var(--bg-gradient-dark);
  color: var(--text-light);
}


/* Dark card */
body.dark .card {
  background: rgba(30,41,59,0.75);

  border: 1px solid rgba(102,126,234,0.3);

  box-shadow:
    0 10px 25px rgba(0,0,0,0.4);
}