<section class="hero">

  <div class="hero-text">
    <h1>Hi, I'm Shubham Pal</h1>
    <h2>Senior Software Developer Engineer</h2>

  <p>
  Senior Software Engineer specializing in Angular, Java, and scalable web applications.<br>
  Experienced in Flutter, Embedded Systems, modern UI development, and exploring AI-powered solutions.
</p>

    <button (click)="downloadResume()">Download Resume</button>
  </div>

  <div class="hero-image">
    <img src="assets/profile.jpeg" alt="profile">
  </div>

</section>